<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>


    <form class="form-group" action="/cercaPizzeria" method="POST">
        <label for="ricerca">ricerca</label>
        <input type="text" class="form-control" name="ricerca" id="ricerca" >
        <button type="submit" class="btn btn-primary" >submit</button>
    </form>
    <div class="container">
            <h3>Pizzerie</h3>
            <%- include("tablePizzerie", {pizzerie}); %>
        
    </div>


    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>