<% ingredients.forEach(ingredient=> { %>
    <div class="form-check ">
        <input class="form-check-input" type="checkbox" name="ingredients" id="{ingredient._id}" value="{{ingredient._id}}">
        <label class="form-check-label" for="<%= ingredient._id %>"><%= ingredient.value %></label>
      </div>
    
<% }) %>