<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron text-center">
            <h1><strong>PizzaMia</strong></h1>
            <a name="" id="" class="btn btn-primary" href="/departments" role="button" style="margin: 15px;">Crea Pizza</a><br>
            <a name="" id="" class="btn btn-primary" href="/employees" role="button"style="margin: 15px;">Cerca Pizzeria</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>