<% formati.forEach(formato=> { %>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="formati" id="{formato._id}" value="{{department._id}}">
        <label class="form-check-label" for="<%= formato._id %>"><%= formato.value %></label>
      </div>
    
<% }) %>