<nav class="fixed-top">
    <div class="container-fluid">
        <a href="/"><i class="fa fa-qrcode" aria-hidden="true" style="color:black;">QR CODE</i></a>
        <a href="/" class="align-right justify-content-end" style="float: right;"><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:100%;color:black;"></i></a>
    </div>

</nav>