<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">My Project Title</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>

    </ul>
    <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:100%;color:white;margin:10px;"></i>
</nav>